.WeatherForecast {
  text-align: center;
  border-radius: 7px;
  background-color: #f7f7f726;
  backdrop-filter: blur(6px);
  box-shadow: 0px -1px 8px 0px #223c5012;
  padding: 20px;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}
